// fonts
$font-main:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

// colors
$color-title: rgba(255, 64, 0, 0.932);
$color-background: rgb(167, 115, 215);
$color-text: aliceblue;
$color-secondary: orange;
