<main class="mt-1">
  <form>
    <label for="character">Disney characters</label>
    <input
      class="userInput js_userInput"
      type="text"
      name="text"
      id="text"
      placeholder="Example: Simba"
    />
    <input class="js_btnSearch" type="submit" value="Search" />
  </form>
  <div class="container">
    <section class="">
      <h3>Characters</h3>
      <ul class="disneyCards js_charactersUl">
        <li >
          <img
            src="https://static.wikia.nocookie.net/disney/images/3/37/Profile_-_Simba.jpeg"
            alt="image Simba"
          />
          <h4>Simba</h4>
        </li>
        <li>
          <img
            src="https://static.wikia.nocookie.net/disney/images/9/95/Profile_-_Elsa.jpeg"
            alt="image Elsa"
          />
          <h4>Elsa</h4>
        </li>
        <li>
          <img
            src="https://static.wikia.nocookie.net/disney/images/7/7d/Profile_-_Moana.png"
            alt="image Moana"
          />
          <h4>Moana</h4>
        </li>
        <li>
          <img
            src="https://static.wikia.nocookie.net/disney/images/8/8f/Profile_-_Marie.jpeg"
            alt="image Marie"
          />
          <h4>Marie</h4>
        </li>
      </ul>
    </section>
    <section>
      <h3>Favourite Characters</h3>
      <ul class="disneyFavourites js_favouriteCharactersUl">
        <li class="favouriteCards">
          <img
            src="https://static.wikia.nocookie.net/disney/images/9/95/Profile_-_Elsa.jpeg"
            alt="image Elsa"
          />
          <h4>Elsa</h4>
        </li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>
  </div>
</main>
