<main>
    <!-- <div>
        <section>
            <h3>Characters</h3>
            <ul class="js_charactersUl">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
        <section>
            <h3>Favourite Characters</h3>
            <ul class="js_favouriteCharactersUl">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
    </div> -->
</main>