@import "core/variables";
@import "core/reset";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";



.header{
  background-image: url(../images/disneyBaloons.jpg);
  width: 100vw;
  height: 20vh;
  background-size: cover;
}

.main__form{
  display: flex;
  justify-content: center;
  margin-top:20px;

  &--input{
    border-color: $color-secondary;
    width:60%;
    height:40%;
    padding:10px;
    border-radius: 10px;
    font-size: 18px;
    font-family: $font-main;
  }

  &--inputBtn{
    color:$color-text;
    background-color:$color-secondary;
    width: 10%;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-family: $font-main;

    &:hover {
      border: 4px solid rgb(255, 166, 0);
      background-color: #c3703c;
    }
  
  }
  
}


.disneyCards {
    list-style: none;
  }
  .disneyFavourites {
    list-style: none;
  }
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    margin-left: 100px;

  
    &__section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
  
      &--title {
        color: $color-title;
        font-size: 30px;
        padding-left: 50px;
        font-family: $font-main
      }
    }
    &__favouriteSection {
      &--favouriteTitle {
        color: $color-title;
        font-size: 30px;
        font-family:$font-main;
        margin-bottom: 30px;
      }
    }
  }
  
  .favouriteCard {
    background-color: $color-background;
    color:  $color-secondary;
  }
  .characterCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
  }
  .favouriteCharacter_Card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
  }
  .deleteFavBtn{
    padding: 10px;
    width:10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    color:$color-background;
    background-color:$color-secondary;
    font-weight:bold;
    font-size: 18px;
    position: absolute;
    margin-left: 160px;
     
  }

  .deleteFavBtn:hover {
    border: 4px solid rgb(255, 166, 0);
    background-color: #c3703c;
  }

  .footer{
    font-family:$font-main;
    color: $color-text;
    display:flex;
    justify-content: center;
    background-color:$color-background;
    padding: 20px,0,50px,0;
    margin-top: 50px;
    
  }