@import "core/variables";
@import "core/reset";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";



.header{
  background-image: url(../images/disneyBaloons.jpg);
  width: 100vw;
  height: 20vh;
  background-size: cover;
}
.main__form{
  border: solid, red 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:20px;



  &--input{
    border-color: orange;
    width:60%;
    height:40%;
    padding:10px;
    border-radius: 10px;
    font-size: 18px;;
  }

  &--inputBtn{
    color: aliceblue;
    background-color: orange;
    width: 10%;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 18px;;

    &:hover {
      border: 4px solid rgb(255, 166, 0);
      background-color: #c3703c;
    }
  
  }
  
}


.disneyCards {
    list-style: none;
  }
  .disneyFavourites {
    list-style: none;
  }
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    margin-left: 100px;

  
    &__section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
  
      &--title {
        color: rgba(255, 64, 0, 0.932);
        font-size: 30px;
        padding-left: 50px;
      }
    }
    &__favouriteSection {
      &--favouriteTitle {
        color: rgba(255, 64, 0, 0.932);
        font-size: 30px;
        margin-bottom: 30px;
      }
    }
  }
  
  .favouriteCard {
    background-color: blueviolet;
    color: cyan;
  }
  .characterCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
  }
  .favouriteCharacter_Card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
  }

  